{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
    Welcome to
{% endblock %}

{% block styles %}
    .jumbotron {
    /*color: red;*/
    }
{% endblock %}

{% block jquery %}
    //alert("welcome!");
{% endblock%}

{% block navbarHome %}
    {% include 'navHome.html' %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
                </div>
                <div class="clearfix"> </div>
            </div>
            <!---->
    <hr/>
            <div class="sap_tabs">
                <label class="line"> </label>
                <h2>LATEST ARRIVAL</h2>
{#            <label class="line"> </label>#}
                     <div class="product">
        <div class="container">
                <div class="product-right-top">
                <div class="top-product">
                        <div class="col-sm-3 chain-grid  simpleCart_shelfItem" style="width: 250px; height: 400px;">
                        {% for product in products %}
                                <div class="grid-span-1">
                                    {% if product.productimage_set.all %}
                                        {% for item in product.productimage_set.all %}
                                            {% if item.featured %}
                                                <a  href="{{ product.get_absolute_url }}">
                                                    <img class="img-responsive " src="{{ item.image.url }}" alt=" " \
                                                         style="height: 400px; width: 200px; border: Highlight; border-radius: 10%;">
                                                    <div class="link">
                                                        <ul >
                                                            <li><i> </i></li>
                                                            <li><i class="white1"> </i></li>

                                                        </ul>
                                                    </div>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            </div>
                                <div class="grid-chain-bottom ">
                                    <h6><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h6>
                                    <div class="star-price">
                                        <div class="price-at">
                                            <ul class="star-footer">
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price-at-bottom ">
                                            <span class="item_price">{{ product.price }}</span>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="cart-add">
                                        <a class="add1 item_add"  href="{{ product.get_absolute_url }}">VIEW PRODUCT <i> </i></a>
                                        <a class="add2" href="#"><i> </i></a>

                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            {% cycle " " "</div><div class='col-sm-3 chain-grid  simpleCart_shelfItem'>" %}
                    {% endfor %}
                </div>
                </div>
             </div>


            {#                        //End of Product 1 #}
            <!---->
        </div>
        <!---->
        <div class="content-bottom">
            <div class="container">
                <p>Design is a funny word. Some people think
                    design means how it looks. But of course, if you dig deeper
                    it’s really how it works.</p>
                <label class="line1"> </label>
                <span>Steve Jobs</span>
            </div>
        </div>
        <div class="container">
           <hr/>
            <hr/>
            </div>
        </div>
        {% include 'footer.html' %}
        <!---->
    </div>



{% endblock %}





































{#{% extends "base.html" %}#}
{#{% load staticfiles %}#}
{##}
{#{% block head_title %}#}
{#Welcome to#}
{#{% endblock %}#}
{##}
{#{% block jquery %}#}
{#//alert("welcome!");#}
{#{% endblock%}#}
{##}
{##}
{#{% block content %}#}
{##}
{##}
{##}
{#<hr/>#}
{#<div class='row'>#}
{##}
{#{% for product in products %}#}
{#		<div class='col-sm-4'>#}
{##}
{##}
{##}
{#			<div class="thumbnail">#}
{#					{% if product.productimage_set.all %}#}
{##}
{#							{% for item in product.productimage_set.all %}#}
{##}
{#							{% if item.featured %}#}
{#							<div style="#}
{#							width:200px;#}
{#							height:200px;margin:0 auto;">#}
{##}
{#								<a href='{{ product.get_absolute_url }}'>#}
{#									<div class='background_img_thumb' style="height:200px;background-image: url('{{ item.image.url }}');"></div>#}
{#								</a>#}
{#							</div>#}
{#							<!-- <img class='img-responsive' src="{{ MEDIA_URL }}{{ item.image }}" /> -->#}
{#							{% endif %}#}
{##}
{##}
{##}
{#							{% endfor %}#}
{##}
{#					{% else %}#}
{#					<img class='img-responsive' src='{% static "img/download.svg" %}' />#}
{#					{% endif %}#}
{##}
{#					<div class="caption">#}
{#					<a href='{{ product.get_absolute_url }}'> <h3>{{ product.title }}</h3></a>#}
{#					<p>{{ product.description|truncatewords:15}}</p>#}
{#					<p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
{#					</div>#}
{#		   	 </div>#}
{##}
{##}
{#		</div>#}
{##}
{#{% cycle "" "" "</div><br/><hr/><div class='row'>" %}#}
{#{% endfor %}#}
{##}
{#</div>#}
{##}
{#{% endblock %}#}
{##}
