{% extends 'base.html' %}
<div class="page-header">
    <h1>{{ product.title }}</h1>
</div>
{% block content %}
<div class="col-md-4">
    {% for img in images %}
        {% if img.featured %}
            <div class="col-xs-12">
            <img class="img-responsive" src="{{ img.image.url }}"  />
            <hr/>
            </div>
        {% endif %}
    {% endfor %}
        {% for img in images %}
            {% if not img.featured %}
        <div class="col-xs-6">
            <a href="#" class="thumbnail">
                <img class="img-responsive" src="{{ img.image.url }}"  />
            </a>
        </div>
            {% endif %}
    {% endfor %}
    </div>
    <div class="col-sm-8">
    <h1>{{ product.title }} <a href="{% url 'update_cart' product.slug %}" class="pull-right">Add to Cart</a> </h1><hr/>
        Price: $ {{ product.price }} <br/>
        Shipping: $25+ Shipping FREE <br>
        <hr/>
        {{ product.description |linebreaks }}
    </div>
{% endblock %}