{% load staticfiles %}
<div class="footer">
		<div class="container">
			<div class="col-md-6 footer-top">
				<h3>QUICK CONTACT</h3>
				<form>

						<input type="text" value="ENTER YOUR NAME*" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR NAME*';}">

						<input type="text" value="ENTER YOUR EMAIL*" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR EMAIL*';}">

						<input type="text" value="ENTER YOUR PHONE" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER YOUR PHONE';}">

						<textarea cols="77" rows="6" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'ENTER YOUR MESSAGE*';}">ENTER YOUR MESSAGE*</textarea>

							<input type="submit" value="SEND MESSAGE">

					</form>

			</div>
			<div class="col-md-6 footer-bottom">
				<div class="logo-footer">
					<div class="logo-bottom">
						<a href="#"><img src="{% static 'images/logo (1).png' %}" alt=""></a> <br/><br/>
                        <p>We Sell good quality products. Our customer are Happy with E-Shopper your online Store</p>
					</div>

					<div class="clearfix"> </div>
				</div>
				<div class="indo">
				<p class="in">Bangalore, Karnataka <br/>India <span>560098</span></p>
					<ul class="social-footer ">
						<li><span><i> </i>+91 9852954321 </span></li>
						<li><a href="mailto:info@example.com"><i class="mes"> </i>info@eshopper.com</a></li>
						<li><a href="#"><i class="mes-in"> </i>http://eshopper.com</a></li>
					</ul>
					<a href="#"><img src="{% static 'images/pa.png' %}" alt=""></a>
					</div>
			</div>
			<div class="clearfix"> </div>
			<p class="footer-class">© 2016 E-Shopper All Rights Reserved | Project by  <a href="http://hathtech.com/" target="_blank">Raja Babu, Sanju, Prince and  Nikhil</a> </p>
		</div>
	</div>