{% load staticfiles %}
<div class=" header-product">
	<div class="header-top com">
		<div class="container">
			<div class="header-top-in grid-1">
				<ul class="support">
					<li ><a href="mailto:info@example.com" ><i > </i>info@eshopper.com</a></li>
					<li ><span ><i class="tele-in"> </i>+91 9852954321</span></li>
				</ul>
				{% if user.is_authenticated %}
				<ul class=" support-right">
					<li ><a href="{% url 'products' %}">Hey, {{ request.user.username }}</a></li>
					<li ><a href="{% url 'auth_logout' %}">Logout</a></li>
				</ul>
                {% else %}
                    <ul class=" support-right">
					<li ><a href="{% url 'auth_login' %}"><i class="men"> </i>Login</a></li>
					<li ><a href="{% url 'auth_register' %}"><i class="tele"> </i>Create an Account</a></li>
				</ul>
                {% endif %}
				<div class="clearfix"> </div>
			</div>
			</div>
			<div class="header-bottom bottom-com">
			<div class="container">
				<div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/logo (1).png' %}" alt=""></a>
{#					<h1><a href="{% url 'home' %}">E-SHOPPER</a></h1>#}
				</div>
				<div class="top-nav">
				<!-- start header menu -->
		<ul class="megamenu skyblue menu-in">
            <li class="showhide" style="overflow: hidden; display: none;">
                <span class="title">MENU</span><span class="icon1"></span>
                <span class="icon2"></span>
            </li>
		<li style="display: inline-block; overflow: hidden;"><a href="{% url 'home' %}">Home</a></li>
				<li style="display: inline-block; overflow: hidden;"><a href="{% url 'products' %}">Products</a> </li>

				<li style="display: inline-block; overflow: hidden;"><a href="{% url 'contact' %}">Contact</a>	</li>
		 </ul>
		 <!---->
		 <div class="search-in">
			<div class="search" style="display: none;">
						<form action="{% url 'search' %}">
							<input type="text" name="q" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'q';}" class="text">
							<input type="submit" value="SEARCH">
						</form>
							<div class="close-in"><img src="{% static 'images/close.png' %}" alt=""></div>
					</div>
						<div class="right"><button> </button></div>
				</div>
						<script type="text/javascript">
							$('.search').hide();
							$('button').click(function (){
							$('.search').show();
							$('.text').focus();
							}
							);
							$('.close-in').click(function(){
							$('.search').hide();
							});
						</script>

					<!---->
						<div class="cart box_1">
                        {% if request.session.items_total %}
						<a href="{% url 'cart' %}">
						<h3> <div class="total">
                            (<span class="cartSpan">{{ request.session.items_total }}</span> items)
                            </div>
							<img src="{% static 'images/cart.png' %}" alt=""/></h3>
						</a>
                        {% else %}
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
                        {% endif %}
					</div>

					<!---->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>

	</div>